$green: #3c9283;
$firstFont: schnebel-sans-me, sans-serif;
$secondFont: 'Roboto', sans-serif;

.header {
    font-family: $firstFont;
    display: inline;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -10px; 
        width: 150px;  
        display: block;
        border-top: 2px solid;
    }
}

.paragraph {
    font-family: $firstFont;
    text-align: justify;
    margin-top: 40px;
}

.navbar {
    
    background: white;
    position: sticky;   
    
        &::after {
            content: "";
            position: absolute;  
            bottom: 0;
            left: 0;
            right: 0;  
            width: 100vw;  
            display: block;
            border-top: 1px solid #3c9283;
        }
    
    &__logo {
        margin: 10px;
    }  
}

.greeting {
    min-height: 100vh;
    background-image: url(images/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
        content: "";
        position: absolute;  
        bottom: 0;
        right: 0;  
        width: 187px;
        height: 201px;
        display: block;
        background-image: url(images/Marta.png);         
    } 

    &::before {
        content: "";
        position: absolute;  
        bottom: 0;
        left: 0;  
        width: 186px;
        height: 129px;
        display: block;
        background-image: url(images/logoBig.png);         
    }       

        &__text {
            margin: 20px;
        }           
}

.introduction {
    min-height: 100vh;

    &::after {
        content: "";
        position: absolute;  
        left: 0; 
        right: 0; 
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/courts.png);
        width: 230px;
        height: 198px;
    }

    &__text {
        margin: 20px;
    }

    &__paragraph {
        font-size: 0.9rem;
    }

    &__readMore {
        text-align: right;
        width: auto;
        font-family: $firstFont;
        font-size: 0.9rem;
        padding: 5px;
    } 
}

.fields { 
    position: relative;
    padding: 20px 0;
    color: #f7f7f7;

    &::after {
        content: "";
        position: absolute;  
        bottom: 0;
        top: 0;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/fieldsBackground.png);
        width: 100%; 
        min-height: 100vh;
        z-index: -1;
    }
    &__header {
        margin-left: 20px;
    }
    &__content {
        padding: 0;
    }
    &__box {
        list-style: none;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 70px;
    }
    &__name {
        font-family: $secondFont;
        line-height: 29.2px;
        letter-spacing: 4.75px; 
        position: relative;
    }
        &__name::after {
            content: "";
            position: absolute;  
            bottom: -15px;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            width: 100px;  
            display: block;
            border-top: 1px solid #3c9283;
        }
    &__icon {
        max-width: 180px;
    }    
}

.strengths{
    margin: 20px;
    
    &__content {
        padding: 0;
    }
    &__box {
        list-style: none;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 70px;
    }
    &__name {
        font-family: $secondFont;
        line-height: 22.2px;
        letter-spacing: 4.75px; 
        position: relative;
    }
        &__name::after {
            content: "";
            position: absolute;  
            bottom: -15px;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            width: 100px;  
            display: block;
            border-top: 1px solid #3c9283;
        }
    &__paragraph {
        font-family: $secondFont;
        margin-top: 40px;
        letter-spacing: 0.34px;
    }    
    &__icon {
        max-width: 180px;
    }   
}

.contact {
    position: relative;
    &::after {
        content: "";
        position: absolute;  
        bottom: 0;
        top: 0;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/contactBackground.png);
        width: 100%; 
        min-height: 100vh;
        z-index: -1;
    }
        &__content {
            margin-top: 40px;
            padding: 0;
            margin-bottom: 0;
        }
        &__header {
            margin-left: 20px;
            color: #f7f7f7;
        }
        &__box {
            text-align: center;
            margin-top: 60px;
            margin-bottom: 40px;
            list-style: none;
        }
        &__data {
            font-family: $firstFont;
            color: #b3b3b3;
            letter-spacing: 0.8px;
        }
        &__map {
            width: 100vw;
        }
}

.footer {
    text-align: center;
    background-color: #050505;
    display: flex;
    justify-content: space-between;
        &__content {
            width: 100vw;
        }
        &__text {
            color: #7d7d7d;
            font-family: $secondFont;
        }
}