.navigation {
  display: none;
}

.header {
  font-family: schnebel-sans-me, sans-serif;
  position: relative;
  padding-bottom: 10px;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  border-top: 2px solid;
}

.paragraph {
  font-family: schnebel-sans-me, sans-serif;
  text-align: justify;
  padding-top: 25px;
}

.navbar {
  background: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #3c9283;
}

.navbar__logo {
  padding: 10px;
}

.greeting {
  position: relative;
  min-height: calc(100vh - 55px);
  padding-top: 55px;
  background-image: url(images/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}

.greeting::before {
  content: "";
  position: absolute;
  background-image: url(images/logoBig.png);
  z-index: -1;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center bottom 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.greeting__text {
  padding: 40px 20px 40px 20px;
}

.greeting__header {
  margin: 0;
}

.greeting__name {
  font-weight: 600;
  letter-spacing: 12px;
}

.greeting__surname {
  font-weight: 400;
  letter-spacing: 9px;
}

.greeting__paragraph {
  margin: 0;
}

.introduction {
  min-height: 100vh;
  position: relative;
  background-image: url(images/aboutMeBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}

.introduction::after {
  content: "";
  position: absolute;
  background-image: url(images/Marta.png);
  z-index: -1;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center bottom 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.introduction__text {
  padding: 20px;
}

.introduction__header {
  margin: 0;
}

.introduction__paragraph {
  font-size: 0.9rem;
  margin: 0;
}

.introduction__readMore {
  text-align: right;
  width: auto;
  font-family: schnebel-sans-me, sans-serif;
  font-size: 0.9rem;
  padding: 5px;
}

.fields {
  position: relative;
  color: #f7f7f7;
}

.fields::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(images/fieldsBackground.png);
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.fields__header {
  margin: 0;
  padding: 20px 20px 10px 20px;
}

.fields__header::after {
  left: 20px;
}

.fields__content {
  padding: 0 0 20px 0;
  margin: 0;
}

.fields__box {
  list-style: none;
  text-align: center;
  padding-top: 60px;
}

.fields__name {
  font-family: "Roboto", sans-serif;
  line-height: 29.2px;
  letter-spacing: 4.75px;
  position: relative;
  margin: 0;
  padding-bottom: 10px;
}

.fields__name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border-top: 1px solid #3c9283;
}

.fields__icon {
  max-width: 180px;
}

.strengths {
  background-image: url(images/strengthsBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.strengths__header {
  margin: 0;
  padding: 20px 20px 10px 20px;
}

.strengths__header::after {
  left: 20px;
}

.strengths__content {
  margin: 0;
  padding: 0 0 20px 0;
}

.strengths__box {
  list-style: none;
  text-align: center;
  padding-top: 60px;
}

.strengths__name {
  font-family: "Roboto", sans-serif;
  line-height: 22.2px;
  letter-spacing: 4.75px;
  position: relative;
  margin: 0;
  padding: 10px 20px;
}

.strengths__name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border-top: 1px solid #3c9283;
}

.strengths__paragraph {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 20px 20px 0 20px;
  letter-spacing: 0.34px;
}

.strengths__icon {
  max-width: 180px;
}

.contact {
  position: relative;
  color: #f7f7f7;
}

.contact::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(images/contactBackground.png);
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.contact__content {
  margin: 0;
  padding-left: 0;
}

.contact__header {
  margin: 0;
  padding: 20px 20px 10px 20px;
}

.contact__header::after {
  left: 20px;
}

.contact__box {
  text-align: center;
  padding-top: 60px;
  list-style: none;
}

.contact__data {
  font-family: schnebel-sans-me, sans-serif;
  color: #b3b3b3;
  letter-spacing: 0.8px;
}

.contact__map {
  width: 100vw;
}

.footer {
  text-align: center;
  background-color: #050505;
  display: flex;
  justify-content: space-between;
}

.footer__content {
  width: 100vw;
}

.footer__text {
  color: #7d7d7d;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 10px 0;
}
