$green: #3c9283;
$firstFont: schnebel-sans-me, sans-serif;
$secondFont: 'Roboto', sans-serif;

.navigation {
    display: none;
    animation-name: navigation-animation;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-iteration-count: 1;
    }
    @keyframes navigation-animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

.header {
    font-family: $firstFont;
    position: relative;
    padding-bottom: 10px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 150px;
        border-top: 2px solid;
    }
}

.paragraph {
    font-family: $firstFont;
    text-align: justify;
    padding-top: 25px;    
    line-height: 1.5em;
}

.navbar {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 1px solid #3c9283;
        }        
    
    &__logo {
        padding: 10px;
        width: 42px;
        height: 30px;
    }
    &__phonePopup {
        position: absolute;
        width: 134px;
        height: 39px;
        right: -93px;
        top: 50%; 
        bottom: 50%; 
        margin-top: auto; 
        margin-bottom: auto;
        background-image: url(images/phonenum.png);
        background-size: 100%;
    }
    
    &__phonePopup:hover {
        right: 0px;
    }
}

.greeting {
    position: relative;
    min-height: calc(100vh - 55px);
    padding-top: 55px;
    background-image: url(images/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    

    &::before {
        content: "";
        position: absolute;        
        background-image: url(images/logoBig.png);
        z-index: -1;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center bottom 0;
        left: 0;
        right: 0;
        bottom: 0;  
        animation-name: logo-animation;
        animation-delay: 60s;
        animation-duration: 3s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        
        @keyframes logo-animation {
            0%{
            opacity: 0;
            -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
            }
            60%{
            opacity: 1;
            -webkit-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1);
            }
        }
    }
    
        &__text {
            padding: 40px 20px 40px 20px;
        }
        &__header {
            margin: 0;
            font-weight: 400;
            letter-spacing: 0.48em;
        }
        &__name {
            font-weight: 600;
            letter-spacing: 0.6em;
        }
        &__paragraph {
            margin: 0;
        }
}

.introduction {
    min-height: 100vh;
    height: 950px;
    position: relative;
    background-image: url(images/aboutMeBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    
    &::before {
        content: "";
        position: absolute;
        background-image: url(images/MartaB.png);
        z-index: -1;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 60%;
        opacity: 90%;
        background-position: center top 105px;
        left: 0;
        right: 0;
        top: 0;
    }

    &__text {
        padding: 20px;
    }
    &__header {
        margin: 0;
    }
    &__paragraph {
        margin: 0;        
        padding-top: 330px;
        font-size: 1em;
    }
    &__readMore {
        text-align: right;
        width: auto;
        font-family: $firstFont;
        padding: 5px;
    } 
}

.fields {
    position: relative;    
    color: #f7f7f7;

    &::after {
        content: "";
        position: absolute;  
        bottom: 0;
        top: 0;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/fieldsBackground.png);
        width: 100%; 
        min-height: 100vh;
        z-index: -1;
    }
    &__header {
        margin: 0;
        padding: 20px 20px 10px 20px;
    }
    &__header::after {
        left: 20px;
    }
        
    &__content {
        padding: 0 0 5em 0;
        margin: 0;
    }
    &__box {
        list-style: none;
        text-align: center;
        padding-top: 5em;
    }
    &__name {
        font-family: $secondFont;
        font-weight: 600;
        line-height: 1.5em;
        letter-spacing: 0.2em;
        position: relative;
        margin: 0;
        padding: 1.5em;
    }
        &__name::after {
            content: "";
            position: absolute;  
            bottom: 0;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            width: 100px;  
            border-top: 1px solid #3c9283;
        }
    &__icon {
        max-width: 180px;
        animation-name: angry-animation;
        animation-duration: 3s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        @keyframes angry-animation {
            0%{
              opacity: 0;
              -webkit-transform: scale3d(0.3, 0.3, 0.3);
              transform: scale3d(0.3, 0.3, 0.3);
            }
            60%{
              opacity: 1;
              -webkit-transform: scale3d(1,1,1);
              transform: scale3d(1,1,1);
            }
          }
    }    
    // &__criminal::after {
    //     display: none;
    // }
}

.strengths{
    background-image: url(images/strengthsBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__header {
        margin: 0;
        padding: 1em 1em 0.5em 1em;
    }

    &__header::after {
        left: 1em;
    }
        
    &__content {
        margin: 0;
        padding: 0 0 5em 0;
    }

    &__box {
        list-style: none;
        text-align: center;
        padding-top: 5em;
    }

    &__name {
        font-family: $secondFont;
        font-weight: 600;
        letter-spacing: 0.2em;
        position: relative;
        margin: 0;
        padding: 1.5em;
        line-height: 1.5em;
    }
        &__name::after {
            content: "";
            position: absolute;  
            bottom: 0;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            width: 100px;  
            border-top: 1px solid #3c9283;
        }

    &__paragraph {
        font-family: $secondFont;
        margin: 0;
        padding: 1.5em;
        letter-spacing: 0.04em;
        line-height: 1.5em;
    } 
    &__icon {
        animation-name: angry-animation;
        animation-duration: 3s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        @keyframes angry-animation {
            0%{
              opacity: 0;
              -webkit-transform: scale3d(0.3, 0.3, 0.3);
              transform: scale3d(0.3, 0.3, 0.3);
            }
            60%{
              opacity: 1;
              -webkit-transform: scale3d(1,1,1);
              transform: scale3d(1,1,1);
            }
          }
    }
    &__hand {
        max-width: 180px;
    }   
}

.contact {
    position: relative;
    color: #f7f7f7;

    &::after {
        content: "";
        position: absolute;  
        bottom: 0;
        top: 0;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(images/contactBackground.png);
        width: 100%; 
        min-height: 100vh;
        z-index: -1;
    }
        &__content {
            margin: 0;
            padding-left: 0;
            padding-bottom: 60px;
        }
        &__header {
            margin: 0;
            padding: 20px 20px 10px 20px;
        }
        &__header::after {
            left: 20px;
        }
        &__box {
            text-align: center;
            padding-top: 60px;
            list-style: none;
        }
        &__data {
            font-family: $firstFont;
            color: #b3b3b3;
            letter-spacing: 0.04em;
            line-height: 1.5em;
            font-size: 1em;
        }
        &__paragraph {
            font-family: $secondFont;
        }
        &__paragraph-big{
            font-weight: 600;
        }
        &__link {
            background-color: transparent;
            display: block;
            height: 100vh;
            width: 100%;
            background-image: url(images/mapapin.png);
            background-size: cover;
            background-position: center center;
            text-decoration: none;
        }
        a {
            text-decoration: none;
            color: #b3b3b3;
        }
}

.footer {
    text-align: center;
    background-color: #050505;
    display: flex;
    justify-content: space-between;
        &__content {
            width: 100%;
        }
        &__text {
            color: #7d7d7d;
            font-family: $secondFont;
            margin: 0;
            padding: 10px 0;
        }
}