@media screen and (min-width: 1680px)  {
    /* NAVIGATION */
    .navigation {
        display: block;
        position: absolute;
        top: 50%; 
        bottom: 50%;
        margin-top: auto; 
        margin-bottom: auto;
        left: -350px;
        padding-left: 50px;
    }
}



@media screen and (min-width: 1121px) and (max-width: 1680px) { 
    /* NAVIGATION */
    .navigation {
        display: none;
    }
}



@media screen and (min-width: 1120px)  {

    /* NAVBAR */
    .navbar {
        display: none;
    }    

    /* GREETING */
    .greeting { 
        /* mountain's background */
        height: 100vh;
        padding-top: 0;
        background-image: url(images/mountainsMonitor.png);
    }
    
    .greeting::before {
        /* big logo */
        opacity: 50%;
        background-position: center bottom 0;
        background-size: 35%;
        opacity: 100;
    }

    .greeting::after {
        /* Marta's photo */
        content: "";
        position: absolute;
        background-image: url(images/MartaBi.png);
        z-index: 100;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 40%;
        opacity: 100%;
        background-position: right 40px bottom;
        left: 0;
        right: 0;
        top: 0;
    }

    .greeting__text {
        width: 1000px;
        font-size: 1.1em;
        margin: 0 auto;
        padding-top: 200px; 
        position: relative;
        height: 100vh;
    }

    .greeting__header {
        font-size: 2.2em;
    }

    .greeting__header::before {
        /* small top logo */
        content: "";
        position: absolute;
        background-image: url(images/logotop.png);
        bottom: 3em;
        width: 97px;
        height: 69px;
        background-size: 100%;
        background-repeat: no-repeat;
    }  

    .greeting__paragraph {
        padding-top: 40px;
    }


    /* INTRODUCTION */
    .introduction {
        position: relative;
    }

    .introduction::before {
        display: none;
    }

    .introduction::after {
        content: "";
        position: absolute;
        background-image: url(images/court.jpg);
        width: 539px;
        height: 410px;
        background-repeat: no-repeat;
        background-position: center bottom 0;
        right: 0;
        top: 220px;
    }

    .introduction__text {
        padding-top: 85px;
        width: 1000px;
        margin: 0 auto;
        position: relative;
        height: 100vh;
    }

    .introduction__header {
        font-size: 2.2em;
        width: 50%;  
    }

    .introduction__paragraph {
        padding-top: 85px;
        width: 50%;        
        font-size: 1.1em;
        float: left;
    }

    .introduction__paragraph::after {
        display: none;
    }

    .introduction__image {
        width: 50%;
        float: right;
        padding-left: 40px;
        padding-top: 90px;
        box-sizing: border-box;
    }

    /* FIELDS, STRENGTHS */
    .fields,
    .strengths {
        height: 100vh;
    }

    .fields__container,
    .strengths__container {
        width: 1000px;
        margin: 0 auto;
    }

    .strengths {
        position: relative;
    }

    .fields__header,
    .strengths__header {
        padding-top: 85px;
        font-size: 2.2em;
    }

    .fields__container,
    .strengths__container {
        position: relative;
    }

    .fields__content,
    .strengths__content {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
        min-height: calc(100vh - 250px);
        align-content: center;
    }

    .fields__box,
    .strengths__box {
        width: 25%;
        font-size: 0.7em;
        padding-bottom: 60px;
        padding: 0;
    }

    .fields__box {
        height: 30%;
    }

    .fields__name,
    .strengths__name {
        font-size: 1.5em;
    }

    .strengths__paragraph {
        font-size: 1.2em;
        padding-left: 30px;
        padding-right: 30px;
    }

     /* CONTACT */
    .contact {
        height: auto;
        min-height: 100vh;
    }

    .contact {
        width: 100%;
    }

    .contact__header {
        font-size: 2.2em;
        padding-top: 85px;
        padding-left: 0;
    }

    .contact__header::after {
        left: 0;
    }

    .contact__content {
        top: 50%; 
        bottom: 50%; 
        margin-top: auto; 
        margin-bottom: auto;
    }

    .contact__text {
        display: flex;
        flex-direction: row;
        width: 1000px;
        margin: 0 auto;
        position: relative;
    }

    .contact__container {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .contact__map {
        width: 50%;
        height: 100vh;
    }

    .contact__box {
        display: flex;
        flex-direction: row;
    }

    .contact__icon {
        top: 50%; 
        bottom: 50%; 
        margin-top: auto; 
        margin-bottom: auto;
        padding-right: 50px;
    }

    .contact__envelope {
        height: 45px;
        padding-right: 58px;
    }

    .contact__point {
        height: 42px;
        padding-right: 70px;
    }

    .contact__phone {
        height: 37px;
        padding-right: 62px;
    }

    .contact__data {
        text-align: left;
    }

    .contact__content {
        font-size: 1.3em;
    }

    .contact__link {
        width: 70%;
        height: auto;
        min-height: 100vh;
    }    
    /* FOOTER */
    .footer__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 1000px;
        margin: 0 auto;
    }
    
}







@media screen and (min-width: 768px) and (max-width: 1119px) { 
    * {
        font-size: 1.1em;
    }
    
    .paragraph {
        line-height: 40px;
        letter-spacing: 0.5px;
        padding-top: 50px;
    } 

    /* NAVBAR */
    .navbar {
        height: 80px;
    }
    .navbar__logo {
        width: auto;
        height: 60px;
        padding: 10px;
    }
    
    .navbar__phonePopup {
        width: 234px;
        height: 139px;
        right: -165px;
        background-repeat: no-repeat;
        top: 87%; 
        bottom: 0%; 
    }

    /* GREETING */
    .greeting {
        min-height: calc(100vh - 80px);
        padding-top: 80px;
    }

    .greeting__text {
        padding: 100px 100px;
    }

    .greeting__name {
        letter-spacing: 30px;
    }

    .greeting__surname {
        letter-spacing: 18px;
    }

    /* INTRODUCTION */
    .introduction {
        height: 1700px;
    }

    .introduction::before {
        top: 200px;
        max-height: 450px;
    }

    .introduction__text {
        padding: 50px 100px;
    }

    .introduction__paragraph {
        padding-top: 700px;
    }

    .introduction__paragraph::after {
        top: 650px;
        width: 500px;
    }

    .header::after {
        width: 280px;
    }
    
    /* FIELDS, STRENGTHS   */
    .fields__header,
    .strengths__header {
        padding-left: 100px;
        padding-top: 40px;
    }

    .fields__header::after,
    .strengths__header::after {
        left: 100px;
    }

    .fields__content,
    .strengths__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fields__box,
    .strengths__box {
        width: 40%;
        font-size: 0.7em;
        padding-bottom: 60px;
    }

    .strengths__box {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    /* CONTACT */
    .contact__content {
        padding-left: 100px;
        padding-right: 100px;
        width: 100%;
        box-sizing: border-box;
    }

    .contact__header{
        padding-left: 100px;
    }

    .contact__header::after {
        left: 100px;
    }

    .contact__container {
        padding-top: 40px;
    }

    .contact__box {
        display: flex;   
    }

    .contact__icon {
        align-self: center;
        margin-left: 0;
        margin-right: 0; 
    }

    .contact__envelope {
        margin-right: 49px;
    }

    .contact__point {
        margin-right: 70px;
    }

    .contact__phone {
        margin-right: 62px;
    }

    .contact__data {
        text-align: left
    }
    
    .contact__link {
        width: 100vw;
    }
}